{% extends "MainApp/base.html" %}


{% block content %}
<p>
    {{ pizza }}
</p>

<ul>
    {% for e in toppings %}
    <li>
        <p> {{ e.topping_name }}</p>
    </li>
    {% empty %}
    <li> There are no toppings for this pizza.</li>
    {% endfor %}
</ul>

<p>
    <img src="{{ pizza.picture.url }}">
</p>

<p><a href="{% url 'MainApp:comment' pizza.id %}">Add comment</a></p>

<ul>
    {% for c in comments %}
    <li>
        <p> {{ c.comment_entry }}</p>
        <p> {{ c.date_added }}</p>
    </li>
    {% empty %}
    <li> There are no comments for this pizza.</li>
    {% endfor %}
</ul>

{% endblock content %}